<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}One Piece TCG Tracker{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav_style.css') }}">
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/charts.js') }}" defer></script>
</head>
<body>
    <div class="overlay overlay-slide-left" id="overlay">
        <nav>
            <ul>
                <li id="nav-1" class="slide-out-1">
                    <a href="{{ url_for('collections_list') }}">Collections</a>
                </li>
                <li id="nav-2" class="slide-out-2">
                    <a href="{{ url_for('collection') }}">My Collection</a>
                </li>
                <li id="nav-3" class="slide-out-3">
                    <a href="{{ url_for('add_card') }}">Add Card</a>
                </li>
                <li id="nav-4" class="slide-out-4">
                    <a href="{{ url_for('add_card_with_ai') }}">Add Card (AI)</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="hamburger-menu" id="hamburger-menu">
        <div class="menu-bar1"></div>
        <div class="menu-bar2"></div>
        <div class="menu-bar3"></div>
    </div>
    <main class="site-main">
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="flashes">
                        {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <div class="rotating-card-container">
                <img src="{{ url_for('static', filename='images/image1.gif') }}" alt="Card GIF 1" class="rotating-card-image active">
                <img src="{{ url_for('static', filename='images/image2.gif') }}" alt="Card GIF 2" class="rotating-card-image">
                <img src="{{ url_for('static', filename='images/image3.gif') }}" alt="Card GIF 3" class="rotating-card-image">
            </div>
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer class="site-footer">
        <div class="container">
            <p>&copy; 2024 One Piece TCG Tracker. All rights reserved.</p>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/nav_script.js') }}" defer></script>
    
</body>
</html>